<!-- header.html -->
<header style="background-color: #333; color: white; padding: 15px 0; text-align: center; height: 80px;">
    <h1 style="font-size: 28px; margin: 0;">📈 WODPulse 📈</h1>
    <br>
    <nav>
        <a href="/" style="color: white; margin: 0 15px; text-decoration: none;">log ✏</a>
        <a href="{{ url_for('record_list') }}" style="color: white; margin: 0 15px; text-decoration: none;">wodlog 📚</a>
        <a href="{{ url_for('save_pr') }}" style="color: white; margin: 0 15px; text-decoration: none;">PR 🥇</a>
    </nav>
</header>
